<h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>
<p>
	<%=post.tags.forEach(function(tag){ %>
		<a href="/posts/tags/<%= tag.name %>"><%= tag.name %></a>&nbsp;
	<% }); %>
		
	</p>
<hr />

<form class="comment-form" method="POST" action="<%= '/posts/'+ post.id + '/comments'%>">
    <p class="col-100"><label name="name">Name:</label>
    <input type="text" name="name"></p>
    <p class="col-100"><label class="top" name ="content">Comment:</label>
    <textarea name="content" cols="50" rows="5" placeholder="Write your comment..."></textarea></p>
    <p class="col-100"><input class="submit" type="submit" value="Submit Comment"></p>

</form>

<hr />
<ul>
<% post.comments.forEach(function(comment){%>
   <li><%=comment.content%> by <span class="comment-author"><%=comment.name%>  </span></li>

<%})%>
</ul>

<a href="/">&larr; Back Home</a>